body {
    margin: 0px;
    padding: 0px;
    background: #efefef;
}

.content {
    background-color: #cfcfcf;
    padding: 15px;
    margin: -24px;
    outline: none;
    min-height: 50vh;
}

.paragraph {
    text-align: justify;
}

.footer {
    padding: 25px 20px;
}

.carrusel {
    max-width: 800px;
    flex-grow: 1;
    margin: 50px auto 50px auto;
}

.carrusel-img {
    display: block;
    max-width: 800px;
    max-height: 510px;
    overflow: hidden;
    width: 100%;
}

.form-imput {   
    width: 100%;
}

.form-control {
    margin: 10px;
}

.tab-space {
    margin: 15px;
}

.title {
    text-align: center;
}

.subtitle {
    text-align: center;
}

.header {  
    height: 50vh;
    width: 100%;
}

.header > img {
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.name {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20vh;
}